@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-[#F3F4F6] text-slate-900;
    font-family: 'Inter', sans-serif;
  }
}
